<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory API</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <main className='welcome-container'>
    <div class="welcome-content">
      <h1>Hi, There..</h1>
      <p>this is an API for an inventory management app, built by Husam Asaad as a solution for an assigment to earn an internship oppurtonity as a Frontend Developer.</p>
      <p>Try the App on :
        <br />
        <a href="https://inventory-frontend-mu.vercel.app/">https://inventory-frontend-mu.vercel.app/</a></p>
    </div>
  </main>
</body>
</html>